<header class="flex justify-between items-center py-3 w-full px-5 lg:px-10">
  <img src="images/logo.png" alt="logo" class="w-20 md:w-32 lg:w-48" />
  <nav class="flex gap-x-4 lg:gap-x-10 text-xs lg:text-lg">
    <a href="/">Inicio</a>
    <a href="/about">Nosotros</a>
    <a href="/contact">Contactanos</a>
  </nav>
</header>
